.chart-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar-chart-title{
  margin-top: 0;
  margin-bottom: 1%;
}

.bar-content {
  margin-top: 0px;
  width: 97%; 
  height: 80%;
}


/* -----------------------  Warning Diverging Bar Chart ------------------------------ */

.warning-chart-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.warning-bar-chart-title {
  margin-top: 0;
}

.warning-diverging-bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 92%;
  height: 90%;
}

.tabs {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--main);
}

.tab {
  padding: 8px 16px;
  font-size: 16px;
  width: 33%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--main);
  font-weight: 600;
  transition: background-color 0.3s;
}

.tab-active {
  padding: 8px 16px;
  font-size: 16px;
  width: 33%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--main);
  color: var(--main);
  font-weight: 600;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
  color: white;
}

.tab-content {
  display: flex;
  justify-content: center;
  width: 95%;
  min-height: 67%;
}

.tab-content h3 {
  color: var(--main);
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 24px;
}

.tab-content h4 {
  color: var(--main-80);
  margin-top: 2%;
  font-size: 22px;
}

.tab-content p {
  font-size: 15px;
}

.instructions-note {
  font-size: 17px !important;
}

.no-dot {
  list-style: none;
  font-size: 17px !important;
}

.info-note {
  font-size: 17px !important;
}

.instructions-title {
  font-size: 25px !important;
  margin-top: 20px !important;
}

.tab-content ul {
  font-size: 15px;
}

.probability {
  min-width: 60%;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid var(--main);
}

.probability p {
  font-size: 20px;
}

.probability h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.tab-1-content {
  margin-top: 10px;
  width: 95%;
  height: 75%;
}

.tab-2-content {
  width: 97%;
  height: 87%;
}

.custom-legend {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 3px;
}

.tab-3-content {
  margin-top: 10px;
  width: 95%;
  height: 75%;
}

.post-note {
  width: 95%;
  height: 10%;
  font-size: 16px;
  background-color: var(--header-70);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.download-note {
  width: 98%;
  height: 10%;
  font-size: 11px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.bar {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
} 