.chart-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar-chart-title{
  margin-top: 0;
  margin-bottom: 1%;
}

.bar-content {
  margin-top: 0px;
  width: 97%;
  height: 60%;
} 

.bar {
  width: 100%;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertissment {
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.advertissment img {
  width: 32px;
  height: 32px;
  margin-right: 2%;
}

.advertissment p {
  font-size: 15px;
  color: var(--main);
  margin-left: 10px;
}

.custom-legend {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 2%;
}

.legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 3px;
}

.probability {
  min-width: 60%;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid var(--main);
}

.probability p {
  font-size: 20px;
}

.probability h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
