:root{
  --main : #38502b;
  --orange: #b4612A;
  --red: #e01818;
  --header: #d9d9d3;
  --main-80: rgba(56, 80, 43, 0.8);
  --header-95: rgba(147, 148, 128, 0.95);
  --header-70: rgba(147, 148, 128, 0.7);
  --orange-80: rgba(180, 97, 42, 0.8);
  --sand: rgba(207, 198, 184, 1);
}

#root {
  width: 100%;
}

.dashboard {
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 100%;
}

.data-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.step0,
.step1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: var(--header);
  padding: 1rem;
  border: 1px solid var(--main);
  border-radius: 5px;
}

.button-step {
  background-color: var(--main-80);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-step:hover {
  background-color: var(--main);
}

.step1-1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.error-message {
  margin: 30px;
  font-size: 14px;
}

.final-decision-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.final-decision {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: var(--main);
  padding: 1rem;
  border: 1px solid var(--main);
  border-radius: 5px;
  color: var(--sand);
}