.modal {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: auto;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}