.slider {
    width: 50%;
    height: 80px;
    margin-bottom: 2%;
}

.slider input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--main);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin: 2%;
}

.slider input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 0.25px;
  left: 3.50px;
  width: 4px;
  height: 8px;
  border: solid var(--main);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.slider input[type="checkbox"]:checked::before {
  opacity: 1;
}

.slider label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--main);
  cursor: pointer;
  margin-bottom: 2%;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-container input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: transparent; 
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid var(--main);
  border-radius: 50%;
  position: relative;
  z-index: 2;
}


.slider-container input[type="range"]:focus {
  outline: none;
}
